@font-face {
	font-family: AzarMehr;
	font-style: normal;
  font-weight: normal;
	src: url('../../../public/assets/fonts/azarmehr_monospaced/Sans/Font/AzarMehrMonospacedSansRegular.ttf');
	src: url('../../../public/assets/fonts/azarmehr_monospaced/Sans/Font/AzarMehrMonospacedSansRegular.ttf') format('truetype');
}
@font-face {
	font-family: AzarMehr;
	font-style: normal;
	font-weight: bold;
	src: url('../../../public/assets/fonts/azarmehr_monospaced/Sans/Font/AzarMehrMonospacedSansBold.ttf');
	src: url('../../../public/assets/fonts/azarmehr_monospaced/Sans/Font/AzarMehrMonospacedSansBold.ttf') format('truetype');
}
