.quasar-crud-index-table {
  margin-right: -32px;
  margin-left: -32px;
  //margin-top: -16px;
  padding-top: 0;
  .q-table__card {
    background-color: transparent;
    box-shadow: none;
    .q-table__top {
      display: none;
    }
    .q-table {
      thead {
        background: #F0EFEE;
        color: #8588A3;
      }
    }
  }
}
